.product_card{
    max-width: 300px;
    overflow: hidden;
    height: 450px;
    padding: 15px;
    box-shadow: 0 0 15px rgb(185, 179, 187);
    margin: 10px 0;
    position: relative;
    border-radius: 7%;
    margin-top: 20px;
}
.product_card img{
    width: 300px;
    height: 300px;
    display: block;
    object-fit: cover;
    border-radius: 100%;
}
.product_box h2{
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-transform: capitalize;
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;
    color: #d82a0c;
}
.product_card span{
    color: rgb(148, 123, 53);
    font-weight: bold;
}
.product_box p{
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    height: 70px;
    overflow: hidden;
    color: #221d1d;
}
.row_btn{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.row_btn a{
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 6px;
}
#btn_buy{
    background: rgb(123, 100, 134);
    margin-right: 5px;
}
#btn_buy:hover{
    background-color: rgb(124, 41, 124);
}

#btn_view{
    background: rgb(106, 167, 167);
    margin-left: 5px;
}
#btn_view:hover{
background-color: rgb(47, 131, 122);
}
.product_card input{
    position: absolute;
    width: 25px;
    height: 25px;
}

.h2title{
    font-weight: normal;
    text-transform: capitalize;
}